body{
  background-color: linen;
}

nav{
  background-color:darkslategray;
}

ul{
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
}

li{
  list-style: none;
  padding: 10px;
}

li>a{
  color: aliceblue;
  padding: 20px;
  font-size: large;
  font-weight: bolder;
  text-decoration: none;
  font-family:'Segoe UI';
  text-transform: uppercase;
}

li>a:hover{
  background-color: burlywood;
  color: darkslategray;
  border-radius: 0 0 30px 30px;
  padding: 25px;
}

body{
  text-align: center;
}

h1{
  color: darkslategray;
  font-size: 50px;
}

.home > div > a{
  font-weight: bolder;
  text-decoration: none;
  font-family:'Segoe UI';
  text-transform: uppercase;
  font-size:x-large;
  background-color:darkslategray;
  color: aliceblue;
  padding: 10px;
  border-radius: 15px;
}

.home > div > a:hover{
  background-color: burlywood;
  color: darkslategray;
  border-radius: 15px;
  border: 1px solid darkslategray;
}

.home > div:active{
  transform: scale(.7,.7);
}

.link{
  margin: 30px;
}

button, .submit{
  font-size: x-large;
  margin: 8px;
}

input{
  margin: 8px;
}

.card{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgba(240, 248, 255, 0.80);
  border: 1px solid darkslategray;
  border-radius: 5px;
  margin: 8px 30px;
  min-height: min-content;
  overflow:auto;
}

.card>div{
  flex: 43%;
}

.card>div>p{
  margin: auto;
}


.card>div,label{
  margin: 5px;
  font-size: larger;
}

label{
  font-weight: bold;
}

.balance, .text{
  font-size: xx-large;
}